.container {
  display: flex;
  flex-direction: column;
}

.message {
  flex: 1 1 auto;
  font-size: 2.6rem;
  line-height: 3.8rem;
  align-items: center;
  height: 100%;
}

.message__content {
  flex: 2 60%;
  text-align: left;
}

.author {
  flex: 1 auto;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;;
  font-family: "Scope One", serif;
  width: 75vw;
  max-width: 800px;
}

.author__label {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.author__name {
  flex: 1;
  font-weight: bold;
}

.author__role {
  flex: 1;
  font-size: 2rem;
}

.author__photo {
  flex: 1;
  margin: 0 2vw;
}

.author__photo img {
  border-radius: 50%;
  box-shadow: 0 0 25px #0a0a0a;
  width: 20vw;
  max-width: 128px;
  margin: auto 0;
}

.indie-flower {
  font-family: 'Indie Flower', cursive;
  font-size: 3.1rem;
}

.gloria-hallelujah {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5rem;
  line-height: 3.4rem;
}

.reenie-beanie {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.5rem;
  line-height: 3.2rem;
}

.gochi-hand {
  font-family: 'Gochi Hand', cursive;
}

.crafty-girls {
  font-family: 'Crafty Girls', cursive;
  font-size: 2.8rem;
}
