.container {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.message {
  flex: 1 1 66%;
  font-size: 3.6rem;
}

.author {
  flex: 1 1 auto;
  font-size: 3.2rem;
}

.indie-flower {
  font-family: 'Indie Flower', cursive;
}

.gloria-hallelujah {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3.3rem;
}

.permanent-maker {
font-family: 'Permanent Marker', cursive;
}

.reenie-beanie {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.8rem;
}

.gochi-hand {
  font-family: 'Gochi Hand', cursive;
}

.crafty-girls {
  font-family: 'Crafty Girls', cursive;
  font-size: 3.4rem;
}
