.container {
  display: flex;
  flex-direction: column;
  margin: 6vw;
}

.message {
  flex: 1 1 75%;
  font-size: 3.0rem;
  line-height: 4rem;
}

.message__content {
  flex: 2 auto;
}

.author {
  flex: 1 auto;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Scope One", serif;
}

.author__label {
  flex: 2 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.1rem;
}

.author__name {
  flex: 1;
  font-weight: bold;
}

.author__role {
  flex: 1;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.author__photo {
  flex: 1 auto;
  align-items: center;
}

.author__photo img {
  border-radius: 50%;
  width: 20vw;
  max-width: 128px;
}

.indie-flower {
  font-family: 'Indie Flower', cursive;
  font-size: 3.1rem;
}

.gloria-hallelujah {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5rem;
  line-height: 3.4rem;
}

.reenie-beanie {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.5rem;
  line-height: 3.2rem;
}

.gochi-hand {
  font-family: 'Gochi Hand', cursive;
}

.crafty-girls {
  font-family: 'Crafty Girls', cursive;
  font-size: 2.8rem;
}
